<form action="/create" method="POST">

<h2>create TODO</h2>
{{!-- 
  <div class="input-field">
    <input type="text" name="title">
    <label>Title</label>
  </div> --}}

   <div class="input-field">
        <input type="text" name="title" id="title" required>
        <label for="title">Title</label>
      </div>

  <button class="btn" type="submit">Create todo</button>

</form>