{{> head}}  {{! обращение к файлу partials/head.hbs} }}

<body>

  {{> navbar}}  {{! обращение к файлу partials/navbar.hbs }}
  
  <div class="container">

    {{{ body }}}  {{! обращение к файлу index.hbs }}

  </div>
</body>
</html>